/* General Body Styles */
body {
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
  background-color: #088632;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #666;
}

/* Form and Container Styles */
.login-box, .container {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
}

/* Typography */
h1 {
  text-align: center;
  color: #333;
}

/* Input and Label Styles */
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
}

/* Button Styles */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block; /* Center button */
  margin: 0 auto;
}

button:hover {
  background-color: #3e8e41;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}



.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#map {
    height: 400px;
    flex-grow: 2; /* Allow the map to take up more space */
    margin-right: 20px;
}

#countryList {
    flex-grow: 1;
    max-width: 300px; /* Adjust based on your preference */
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc; /* Just to make it visually distinct, optional */
}

ul#addressList {
    list-style-type: none;
    padding: 0;
}

ul#addressList li {
    margin-bottom: 5px;
}
